{% extends 'stu_home.html' %}
{% block content %}
<div class="w3-container" style="width:100%">
<form class='form-inline' action="alldoc" method="POST" enctype="multipart/form-data>" style="width:100%;" data-aos="fade-left">
  {% csrf_token %}
  <input type="search" name="srh" class="form-control mr-sm-2" placeholder="Enter name of document" aria-label="search" style="width: 100%;border:1px solid cyan;" value='{{src_doc}}' required>
  <input class='btn btn-light my-sm-0' type="submit" value="search" style="width: 100%;background-color:cyan;">
</form><br>
<p data-aos="fade-left" style="width:100%;">{{str1}}</p>
{% for i in document %}
<div class="w3-container" data-aos="fade-left">
    <div class="w3-card-4" >
      <header class="w3-container w3-light-blue" data-aos="zoom-in">
        <h3>{{i.title}}</h3>version : {{i.version}} <br>
        Created At : {{i.created_at}}<br>
        Updated At : {{i.updated_at}}
      </header>
        <p style="margin-left: 16px;">{{i.description | safe}}</p>
      </div>
    <a class="w3-button w3-block w3-dark-grey" href="{% url 'viewdetails' id=i.id %}">view details</a>
    </div>
    <br><br>
  </div><br>
  {% endfor %}
</div>
{% endblock %}